{% extends "base.html" %}
{% block title%}
ADD PRODUCT
{% endblock %}

{% block container %}

<div class="d-flex justify-content-center align-items-center vh-100" style="margin-top: -50px;">
  <div class="card shadow p-4 w-100" style="max-width: 400px;">

    <h3 class="text-center mb-4">Add New Product</h3>

    <form method="post" enctype="multipart/form-data" class="col p-0">
        {{ form.hidden_tag() }}

        <div class="row mt-2">
            {{ form.name(class="form-control", placeholder=form.name.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.price(class="form-control", placeholder=form.price.label.text) }}
        </div>
        <div class="row">
            {{ form.img(class="form-control", accept=".png, .jpeg, .jpg") }}
        </div>
        <div class="row mt-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

  </div>
</div>
{% endblock %}