{% extends "base.html" %}

{% block title%}
MELODIKA
{% endblock %}

{% block container %}
<div class="container-lg ">

    <div class="accordion mt-5 mb-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    About Our Courses And Books
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>⸻</p>

                    <p>Special Offer</p>
                    When you purchase any electric guitar, you’ll receive two free guitar lessons at our guitar
                    school — plus a complimentary booklet featuring essential chords and music theory. It’s everything
                    you need to kickstart your musical journey.</p>

                    <p>After your two free lessons, you’re welcome to continue your studies with our professional coaches.</p>
                    <p>• Each lesson lasts one hour</p>
                    <p>• Single lesson: 15 $</p>
                    <p>• Monthly package (two lessons per week): 100 $</p>
                    <p>• 3-month module: 300 $ (includes regular practice and structured progression)</p>

                    <p>⸻</p>

                    <p>Inside the booklet, you’ll find essential chords and scales, expert tips from our coaches, a
                    beginner-friendly guide to music theory, and a selection of beginner-friendly songs to get you
                    started.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    About Us
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>At Melodika, we believe that music isn’t just sound — it’s emotion, expression, and connection.
                        Whether you’re picking up your very first instrument or adding to a lifelong collection, we’re
                        here
                        to help you find your unique sound.</p>

                    <p>Founded by music lovers, for music lovers, Melodika is more than just a shop — it’s a community.
                        We
                        offer a carefully curated selection of instruments, from timeless classics to modern
                        innovations, as
                        well as well planned events and music lessons.</p>


                    <p>Our mission is simple:
                        To make music accessible, exciting, and deeply personal for everyone — beginners, pros, and
                        dreamers
                        alike.</p>

                    <p>Visit us, explore, ask questions, try things out. At Melodika, your music matters.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Terms & Conditions
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>On the one hand, "Show Equipment Center" LLC, hereinafter "Company or Melodika", and on the
                        other
                        hand, the user of the "Show Equipment Center" website, hereinafter "User", agree to accept the
                        relevant rules and conditions based on this agreement, upon expressing their will. on the
                        following
                        conditions:</p>

                    <p>Article 1. Subject matter and essential conditions of the agreement</p>

                    <p>In accordance with the terms of the present agreement, by expressing the will to use the website
                        of
                        "Show Equipment Center" LLC (https://melodika.ge/), from now on, the user fully agrees to
                        each
                        condition of the agreement, immediately after confirming the consent. The terms of service are
                        public.</p>

                    <p>Article 2. User registration on the site</p>

                    <p>2.1 As a result of registration on the site, the user of the Music House website manages his own
                        account through the user's e-mail address and password. The user is responsible for the
                        management
                        of his account and the correctness of the information.</p>

                    <p>Article 3. User data</p>

                    <p>3.1. In case of changes to the information specified on the website, the user is obliged to
                        update
                        his account information, including valid e-mail address and phone number. In case of non-updated
                        or
                        incorrect information, the user is responsible for any damage caused by this.</p>

                    <p>3.2. The Company collects the following information on behalf of the User, including but not
                        limited
                        to:</p>

                    <p>1) E-mail</p>

                    <p>2) Name and surname</p>

                    <p>3) Personal number</p>

                    <p>4) Phone number</p>

                    <p>5) Address, city, zip code</p>

                    <p>6) Cookies</p>

                    <p>3.3. The company uses the customer's personal data to provide and improve the service.</p>

                    <p>3.4. By accepting these terms and conditions, the customer agrees to the processing of his
                        personal
                        data by the company.</p>

                    <p>3.5. User information may be used:</p>

                    <p>to send information about services to an email address or phone number;</p>

                    <p>for detection, prevention and resolution of technical issues;</p>

                    <p>During purchase processing, information about you may be sent to a credit fraud agency;</p>

                    <p>for the company to fulfill its own contractual or legal obligations.</p>

                    <p>Article 4. Characteristics and price of the purchase object</p>

                    <p>4.1. Full specifications and price of the item to be purchased are indicated on the website of
                        the
                        Music House, user fully agrees with all the features and price of the item to be purchased at
                        the
                        time of purchase.</p>
                    <p>4.2. The item can be exchanged within a day. Only if:</p>

                    <p>The item is complete and undamaged.</p>

                    <p>The item must not show signs of use.</p>

                    <p>The customer presents the check / order number.</p>

                    <p>4.3. The shipping cost, both for return and shipping, is paid by the customer.</p>

                    <p>4.4. The Company reserves the right to change the purchase price at any time.</p>

                    <p>Article 5. Procurement procedure</p>

                    <p>5.1. The customer is entitled to purchase the purchase item only if it has the status of in
                        stock or on the way on the website.</p>

                    <p>5.2. It is possible that the object of purchase has the status of being in stock, but is
                        actually not in stock, in such a case the company is authorized not to sell the product and/or
                        provide services specified in this clause. In this case, the amount paid in advance for the
                        purchase of the product will be returned to the customer.</p>

                    <p>5.3. The user makes payments on the website only through non-cash payment (Visa, Mastercard,
                        bank transfer, voucher). The goods will be delivered only after the money is credited to the
                        company's account.</p>

                    <p>5.4. In the case provided for in clause 5.2, the company is not responsible for any damage
                        caused to the user.</p>

                    <p>Article 6. Warranty conditions</p>

                    <p>6.1. Based on the presentation of the warranty card (physically or digitally) for the purchased
                        goods, the customer benefits from free warranty service within the specified warranty
                        period.</p>
                    <p>6.2. In case of presentation of the warranty card:</p>

                    <p>Damaged goods for warranty service are transported by the buyer to the address of the relevant
                        branch. Exceptions are shipping out of region and shipping of digital pianos from any address,
                        in which case shipping is provided by the company.</p>

                    <p>Purchased goods are subject to warranty only if their defect or damage is not caused by
                        violation of the instructions for use of the purchased goods by the user or other careless
                        handling, which is determined by inspection of the given device by a service specialist and
                        appropriate diagnostics.</p>

                    <p>Replacement of damaged parts during the warranty period does not lead to new warranty periods
                        for goods, accessories or replaced parts.</p>

                    <p>6.3. Goods are not subject to exchange and warranty service in the following cases:</p>


                    <p>· There is an attempt to open the goods (damage to the factory seal, or violation of physical
                        integrity, etc.).</p>

                    <p>· The warranty card entry has been artificially corrected or altered.</p>

                    <p>· The serial number on the product is not readable, or the serial number of the damaged product
                        does not match the serial number on the warranty card.</p>

                    <p>· The device was used for an indirect purpose.</p>

                    <p>· The operating rules specified in the product manual were violated, which led to external or
                        internal mechanical or functional damage:</p>

                    <p>· As a result of particles of foreign origin, liquids, chemical or thermal effects entering the
                        equipment.</p>

                    <p>· As a result of operation in a mode not intended by the instructions, whether it is a switch or
                        software incompatible with factory standards.</p>

                    <p>· As a result of the use of inappropriate non-factory accessories (battery, charger, etc.) for
                        this device.</p>

                    <p>6.4. If the warranty card is not presented for any reason, the warranty conditions will not
                        apply to this product.</p>

                    <p>Article 7. Rules for return and exchange of goods</p>
                    <p>7.1. In the event that the defect of the item cannot be repaired within the warranty conditions
                        and there are no circumstances excluding the warranty conditions provided for in these
                        conditions, the money can be returned or the goods can be replaced with a new one.</p>

                    <p>7.2. Defective goods will be replaced or refunded if:</p>

                    <p>· The said defect was determined by the company's service specialist within 3 (three) working
                        days after its sale, and there are no preconditions provided for in clauses 7.3 and 7.4 of this
                        agreement.</p>

                    <p>· The goods cannot be repaired within 45 (forty-five) working days after delivery, and there are
                        no prerequisites stipulated in clauses 7.3 and 7.4 of this agreement.</p>

                    <p>7.3. Before receiving the product, the user is obliged to check the presence of a defect/flaw at
                        the object of purchase.</p>

                    <p>7.4. When receiving the object of purchase, in case of visible damage, the customer is obliged
                        to request the presence of the seller's representative at the moment of observation of the
                        received goods and immediately request the repair of the visible damage. Otherwise, the full
                        responsibility for damage to the cargo will be borne by the customer.</p>

                    <p>Article 8. Communication of the parties</p>


                    <p>8.1. Communication between the parties will be carried out at the e-mail or phone number
                        specified by the user and the contact data specified by the company on the website.</p>

                    <p>8.2. Any claims between the parties should be submitted to the contact details provided on the
                        website.</p>

                    <p>8.3. The message sent to the e-mail specified by the user is considered received within 3
                        working days after sending.</p>


                    <p>Article 9. Final Provisions</p>

                    <p>9.1. Each party is obliged to fulfill the terms of this Agreement in accordance with the
                        principles of mutual good will and good faith.</p>

                    <p>9.2. The invalidity of a separate clause of the agreement does not lead to the invalidity of the
                        rest of the clause of the agreement.</p>

                    <p>9.3. The terms of this Agreement constitute the entire agreement between the Company and the
                        Customer. No other express or implied terms are part of this Agreement.</p>

                    <p>9.4. By registering on the website and using the company's services and purchasing goods, the
                        user confirms that he fully agrees with each of the conditions provided for in this
                        agreement.</p>

                    <p>9.5. The company has the right to change these terms and conditions at any time without
                        agreement with the customer.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Contact Us
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Contact Us
                    <div>
                        <div>
                            <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
                                <div>
                                    <p class="mb-1 fw-bold"><i class="bi bi-telephone"></i> +955 555 555</p>
                                    <p class="mb-0"><i class="bi bi-geo-alt"></i> Kita Abashidze St. N5</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}