{% extends "base.html" %}
{% block title%}
ADD PRODUCT
{% endblock %}
{% block container %}
<div class="container my-5">

    {% if current_user.is_authenticated %}
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-person-circle display-1 text-primary"></i>
                    <h4 class="card-title mt-3">{{current_user.username}}</h4>

                    <div class="d-grid gap-2">
                        <a href="/logout">
                            <button class="btn btn-outline-danger btn-sm"><i class="bi bi-box-arrow-right"></i> Logout
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% if current_user.role == "Guest" %}
        <div class="col-md-8">

            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                            type="button" role="tab">Info
                    </button>
                </li>

            </ul>


            <div class="tab-content mt-3" id="profileTabsContent">
                <div class="tab-pane fade show active" id="info" role="tabpanel">
                    <h5><i class="bi bi-info-circle"></i> Profile Information</h5>
                    <p><b>name:</b> {{current_user.username}}</p>
                </div>
                <div class="tab-pane fade" id="orders" role="tabpanel">
                    <h5><i class="bi bi-bag-check"></i> Recent Orders</h5>

                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% else %}
    <div class="d-flex align-items-center justify-content-center bg-light">

        <div class="text-center">
            <i class="bi bi-person-circle text-primary" style="font-size: 7rem;"></i>
            <div class="mt-4">
                <a href="/register" class="btn btn-primary me-2">Register</a>
                <a href="/login" class="btn btn-outline-primary">Log In</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}